<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wowwee.touchpad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.wowwee.touchpad.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wowwee.touchpad.UserSettingActivity"
              android:screenOrientation="portrait" 
              android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar"
            android:label="@string/title_activity_user_setting" >
        </activity>
        <activity android:name="DeviceListActivity" android:theme="@android:style/Theme.Dialog"></activity>
        <activity
            android:name="com.wowwee.touchpad.SwitchBotStatus"
            android:label="SwitchBot status"
             android:screenOrientation="portrait"
             >
        </activity>
        <activity
            android:name="com.wowwee.touchpad.SwitchBotRC"
            android:label="SwitchBot RC"
             android:screenOrientation="portrait"
             >
        </activity>
        <activity
            android:name="com.wowwee.touchpad.DrivePathActivity"
            android:label="DrivePath config"
             android:screenOrientation="portrait"
             >
        </activity>
         <activity
            android:name="com.wowwee.touchpad.LabelInputDialog"
            android:label="Label input"
            android:theme="@android:style/Theme.Dialog"
             android:screenOrientation="portrait"
             >
        </activity>
      
       <activity android:name="RobotListActivity"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar">
       </activity> 
       
        <activity
            android:name="com.wowwee.touchpad.MemoActivity"
            android:label="Memo"
            android:screenOrientation="portrait">
        </activity>
       
    </application>

</manifest>
